.mobile-container {
	align-items: stretch;
}

.mobile-container h1 {
	margin-bottom: 1em;
}

.mobile-container h3,
.mobile-container h2 {
	margin: 1.5em 0 0.5em 0;
}

.mobile-container img {
	border-radius: 1em;
	height: 250px;
	object-fit: cover;
}

#ground-zones .segment h3 {
	color: var(--primary);
}

#controls {
	margin-top: 2em;
	background-color: var(--primary100);
	padding: 1em 4em;
	border-radius: 1em;
	text-align: center;
}

#controls p {
	margin: 1em 0;
}

#controls form {
	display: flex;
	flex-flow: column;
	gap: 1em;
}

#controls .top-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5em;
	align-items: center;
}

#controls .form-element > * {
	width: 100%;
}

#controls input[type="submit"] {
	display: block;
	margin: 1.5em auto;
	width: 50%;
}
