.container {
	width: 15vw;
}

h3 {
	margin-bottom: 1em;
}

form {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
}

form > input[type="submit"] {
	margin: 1em 0;
}

.err-msg {
	margin: 1em 0;
	background-color: crimson;
	color: white;
	border-radius: 1em;
	text-align: center;
	padding: 0.7em;
}
